:root {
  --primary-color: #88d498; /* Verde suave */
  --secondary-color: #ffc75f; /* Amarillo claro */
  --background-color: #ffffff; /* Fondo claro */
  --text-color: #141414; /* Texto oscuro */
  --card-bg-color: #ffffff; /* Fondo de tarjeta */
  --border-radius: 8px; /* Bordes redondeados */
  --font-main: "Helvetica Now", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  line-height: 1.6;
}

header {
  display: flex;
  padding: 1.5em 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
}

header h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

header h2 {
  font-size: 1.2em;
  color: var(--secondary-color);
  cursor: pointer;
  transition: color 0.3s;
}

header h2:hover {
  color: var(--primary-color);
}

header img, span,h2 {
  margin-left: 300px;
  text-align: left;
}

span {
  width: 10px;
}

main {
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 1.5em;
  margin: 1.5em 0;
  color: var(--primary-color);
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
}

.card {
  background-color: var(--card-bg-color);
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  width: 250px;
  padding: 1em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.02);
}

/* Estilo para imágenes */
.card img {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: 150px; /* Altura fija para todas las imágenes */
  object-fit: cover; /* Mantiene la relación de aspecto sin distorsionar */
  border-radius: var(--border-radius);
}

.card h3 {
  color: var(--text-color);
  font-size: 1.2em;
  margin: 0.5em 0;
}

.card .precio {
  color: var(--primary-color);
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}

.card label {
  font-size: 0.9em;
  color: var(--text-color);
}

.card select {
  padding: 0.4em;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  margin: 0.5em 0;
}

.card button {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  padding: 0.6em 1em;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.card button:hover {
  background-color: var(--primary-color);
  transform: translateY(-2px);
}

footer {
  margin-top: 20px;
  background-color: #141414;
  color: #fff;
  padding: 1em;
  font-size: 0.9em;
  text-align: center;
}

#items {
  background-color: #88d498;
  border-radius: 100px;
}