*{
  margin: 0;
  padding: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #214e34; /* Verde oscuro */
  color: white;
  align-items: center;
}

header div {
  margin: 10px;
  display: flex;
  align-items: center;
}

#items {
  font-size: 15px;
  margin-right:20px;
  margin-left: 0px;
  color:red
}

/* Contenedor principal */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

h2 {
  text-align: center;
  margin: 30px;
}

/* Tarjeta de cada producto */
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 200px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  padding-bottom: 20px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Imagen del producto */
.card img {
  width: 200px;
  height: 200px;
  border-bottom: 1px solid #e0e0e0;
}

/* Título del producto */
.card h3 {
  font-size: 1.2em;
  margin: 10px 0;
  color: #333;
}

/* Precio del producto */
.card .precio {
  font-size: 1em;
  color: #214E34; /* Color verde oscuro */
  font-weight: bold;
  margin-bottom: 10px;
}

/* Estilo del label y select */
.card label {
  display: block;
  font-size: 0.9em;
  color: #666;
  margin: 10px 0 5px;
}

.card select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
  outline: none;
}

/* Botón para añadir al carrito */
.card button {
  background-color: #214E34; /* Verde oscuro */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.card button:hover {
  background-color: #18552A; /* Verde un poco más oscuro */
}

footer {
  background-color: #214E34;
  height: 100px;
  align-items: center;
}

footer p {
  padding: 40px;
  text-align: center;
  color:white
}

h2 {
  text-align: center;
}